<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <!-- <link rel="stylesheet" th:href="@{/bootstrap3/css/bootstrap.css}">
    <script th:src="@{/bootstrap3/js/bootstrap.js}"></script>
    <script th:src="@{/jquery-1.9.1.min.js}"></script>-->
   <script type="text/javascript"  src="/jquery-1.9.1.min.js"></script>
    <script type="text/javascript"  src="/bootstrap3/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/bootstrap3/css/bootstrap.css"/>
    <link rel="stylesheet" href="/bootstrap-table/bootstrap-table.css">
    <script type="text/javascript"  src="/bootstrap-table/bootstrap-table.js"></script>
    <script type="text/javascript"  src="/bootstrap-table/locale/bootstrap-table-zh-CN.js"></script>
    <script type="text/javascript"  src="/bootstrap-bootbox/bootbox.js"></script>
    <script type="text/javascript"  src="/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript"  src="/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <link rel="stylesheet" href="/bootstrap-datetimepicker/css/bootstrap-datetimepicker.css">
</head>
<body>
<div class="form-group">
    <label for="userName" class="col-sm-1 control-label" >姓名</label>
    <div class="col-sm-2">
        <input type="text" class="form-control" name="userName" id="userName" placeholder="姓名"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-5 control-label">
        <a href="/user/toadd" th:href="@{/user/toadd}" class="btn btn-info">查询</a>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-5 control-label">
        <a href="/user/toadd" th:href="@{/user/toadd}" class="btn btn-info">add</a>
    </div>
</div>

<table class="table table-hover">
    <thead>
    <tr>
        <th>Id</th>
        <th>userName</th>
        <th>userAge</th>
        <th>userHobby</th>
        <th>userTime</th>
        <th>userInfo</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${userList}">
        <td th:text="${user.userId}"></td>
        <td th:text="${user.userName}"></td>
        <td th:text="${user.userAge}"></td>
        <td th:text="${user.userHobby}"></td>
        <td th:text="${#dates.format(user.userTime, 'yyyy-MM-dd')}"></td>
        <td th:text="${user.userInfo}"></td>
        <td><a th:href="@{/user/queryById(userId=${user.userId})}">edit</a></td>
        <td><a th:href="@{/user/deleteUser(userId=${user.userId})}">delete</a></td>
    </tr>
    </tbody>
</table>
</body>
</html>